<h2 id="title">Welcome to Ember</h2>

{{outlet}}
{{modal-outlet}}

<button class="btn btn-primary" {{action 'openTestModal'}}> Open Modal </button>


{{#modal-dialog size="sm" as |modal|}}
THETA
  {{modal.header title="test"}}
  {{#modal.body}}
      <p>Test Modal</p>
  {{/modal.body}}
  {{#modal.footer}}
    <a class="modal-btn" {{action modal.close}}>Close</a>
  {{/modal.footer}}
{{/modal-dialog}}